{
  "auth_service": "google",
  "username": "<username>@gmail.com",
  "password": "abc123",
  "step_limit": 1,
  "location": "123 Fake Street, Springfield, IL",
  "slack_key": "abc123",
  "slack_channel": "#pokemon",
  "notify_distance": None,
  "notify_ignore": "doduo, zubat"
}
